
// from right
@keyframes FromRight {
    0%{
        transform: translateX(50px);
        
    }
    100%{
        transform: translateX(0px);
    }
}
@mixin FromRight($duration){
    animation: FromRight $duration linear 1 forwards ;
}

//#########################

// from left
@keyframes FromLeft {
    0%{
        transform: translateX(-50px);
        
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
    @mixin FromLeft($duration){
        animation: FromLeft $duration linear 1 forwards ;
    }
//#########################

//FromBottom
@keyframes FromBottom {
    0%{
        transform: translateY(50px);
        
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@mixin FromBottom($duration,$delay){
    animation: FromBottom $duration $delay linear 1 forwards ;
}
//#########################

//FromTop
@keyframes FromTop {
    0%{
        transform: translateY(-100px);
        
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@mixin FromTop($duration){
    animation: FromTop $duration linear 1 forwards ;
}
//#########################

//FadeIn
@keyframes FadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@mixin FadeIn($duration,$delay){
    animation: FadeIn $duration $delay linear 1 forwards ;
}

//#########################

//FadeOut
@keyframes FadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.FadeOut{
    animation: FadeOut 1s linear 1 forwards ;
}

//#########################

//Scale
@keyframes Scale {
    0%{
        transform:scale(0.7);
    }
    100%{
        transform:scale(1);
        opacity: 1;
    }
}

@mixin zoomIn($duration,$delay){
    animation: Scale $duration $delay linear 1 forwards ;
}



//#########################
// animation for button puls

@keyframes wow {
    0%{
        scale: 1;
        opacity: 1;
    }
    100%{
        scale: 1.5;
        opacity: 0;
    }
}

//#########################
//animation for close button

@keyframes span {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}


