
// from right
@keyframes FromRight {
    0%{
        transform: translateX(50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

//#########################

// from left
@keyframes FromLeft {
    0%{
        transform: translateX(-50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

//#########################

//FromBottom
@keyframes FromBottom {
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

//#########################

//FromTop
@keyframes FromTop {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

//#########################

//FadeIn
@keyframes FadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

//#########################

//FadeOut
@keyframes FadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

//#########################

//zoomIn
@keyframes zoomIn {
    0%{
        transform:scale(0.7);
        opacity: 0;
    }
    100%{
        transform:scale(1);
        opacity: 1;
    }
}

//#########################

//zoomOut
@keyframes zoomOut {
    0%{
        transform:scale(1);
        opacity: 1;
    }
    100%{
        transform:scale(0.7);
        opacity: 0;
    }
}

//#########################
//animation for close button

@keyframes span {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

//#########################

@mixin animation($animation,$delay){
    animation: animation 0.5s $delay linear 1 forwards ;
}



//#########################
// animation for button puls

@keyframes wow {
    0%{
        scale: 1;
        opacity: 1;
    }
    100%{
        scale: 1.5;
        opacity: 0;
    }
}

//#########################



