//1- flex
@mixin flex($horiental, $vertical) {
  display: flex;
  justify-content: $horiental;
  align-items: $vertical;
}

//2- flex & column
@mixin flex-col($horiental, $vertical) {
  display: flex;
  justify-content: $horiental;
  align-items: $vertical;
  flex-direction: column;
}
//3- grid-column
@mixin grid-cols($col) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($col, 1fr));
}

//4- grid-row
@mixin grid-rows($row) {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax($row, 1fr));
}

//5-  create circle
@mixin circle($dimention) {
  border-radius: 50%;
  width: $dimention;
  height: $dimention;
  border: 2px solid black;
}

//6- create width & height
@mixin size($w, $h) {
  width: $w;
  height: $h;
}

//7- position absolute center
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// 8- background image
@mixin background-image($url) {
  background-image: url($url);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// 9- input without border & outline & padding:
@mixin input {
  outline: none;
  border: none;
  padding: 10px 20px;
}

// 10- blur
@mixin blur-color($color) {
  background-color: $color;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

// 11- animation gradient background with hover
@mixin animation-gradient-hover($clr1, $clr2, $clr3) {
  background-image: linear-gradient(to right, $clr1 0%, $clr2 51%, $clr3 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-size: 200% auto;
  transition: 0.5s;
  &:hover {
    background-position: right center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}

// 12-  animation border color
@mixin animation-border(
  $w,
  $h,
  $background-color-1,
  $background-color-2,
  $border-color-1,
  $border-color-2
) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $w;
  height: $h;
  border-radius: 10px;
  border: 3px solid #0000;
  background: linear-gradient($background-color-1, $background-color-2)
      padding-box,
    linear-gradient(var(--angle), $border-color-1, $border-color-2) border-box;
  animation: 8s rotate linear infinite;
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

// 13- animation gradient background infinite must write 4 color ($clr1 , $clr2 , $clr3 ,$clr4)
@mixin animation-gradient-infinite($clr1, $clr2, $clr3, $clr4) {
  background: linear-gradient(-45deg, $clr1, $clr2, $clr3, $clr4);
  background-size: 600%;
  animation: anime 16s linear infinite;
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// 14-  parallax Effect  صفحه بتتحرك على خلفيه ثابته
@mixin parallax($url) {
  position: relative;
  background: url($url);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//15 change background color when hover from top
@mixin change-clr-top($clr1, $clr2) {
  background: linear-gradient(to bottom, $clr1 50%, $clr2 50%);
  background-size: 100% 200%;
  background-position: bottom right;
  transition: 0.5s;
  &:hover {
    background-position: top right;
    color: white;
  }
}

//16 change background color when hover from left
@mixin change-clr-left($clr1, $clr2){
        background-image: linear-gradient(to left, $clr1 50% , $clr2 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: 0.5s;
    &:hover{
        background-position: left top;
        color: white;
    }
}

//17- text graidient
@mixin text-gradient($direction , $font , $clr1, $clr2){
    background: linear-gradient(to $direction, $clr1 10%, $clr2 60%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: $font;
}

//18-  make Reacticon bold
@mixin icon-Bold($w , $colo){
  stroke-width: $w;
  stroke: $colo;
}