@use "../../SASS/Main" as * ;

.home{
    @include size(100% , calc(100vh - 80px));
    min-height: calc(100vh - 80px);
    @include background-image("../../images/wave.png");
}
.home .inform{
    @include size(100% , 100% );
    @include flex(center,center);
    flex-direction: column;
    gap: 10px;
}
.home .inform h1{
    font-size: 40px;
}
.home .inform h1:first-child{
    color: $main-color;
    text-align: start;
    width: 50%;
    margin-left: 5%;
}
.home .inform h1:nth-child(2){
    letter-spacing: 1px;
}
.home .inform h6{
    font-size: 15px;
    font-weight: 800;
    color: #000000;
}
.home .inform .email{
    position: relative;
}
.home .inform .email input{
    @include input;
    text-align: center;
    background-color: $main-color;
    border: 2px solid black;
    border-radius: 5px;
    
}
:placeholder-shown{
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
}
.home .inform .email .arrow{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    border: 10px solid ;
    border-color: transparent transparent transparent black;
    cursor: pointer;
}
.home .inform .last{
    font-size: 10px;
}
.home .laptop{
    width: 50%;
}


// mobile media 
@media (max-width:992px){
    .home .inform h1:first-child{
        width: 70%;
        margin-left: 0%;
    }
}
@media (max-width:768px){
    .home .inform h1:first-child{
        width: 80%;
        margin-left: 5%;
    }
    .home .laptop{
        width: 80%;
    }
}
@media (max-width:420px) {
    .home .inform{
        gap: 15px;
    }
    .home .inform h1:first-child{
        width: 69%;
        font-size: 25px;
        text-align: center;
        margin-left: 0%;
    }
    .home .inform h1{    
        width: 95%;    
        font-size: 25px;
        text-align: center;
    }
    .home .inform p{
        text-align: center;
    }
    .home .laptop{
        width: 100%;
    }
}